
#box {
    position: relative;
    
}

/* Font Style */

body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/* list styling */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
}

/* styling top menu */

#nav-bar {
    display: block;
    overflow: hidden;

}

#box {
    overflow: hidden;
    position: relative;
    top: -3px;
}

#left-nav {
    display: inline-block;
    float: left;
}

#right-nav {
    display: inline;
    float: right;
}

#right-nav li, #left-nav li {
    display: inline-block;
    float: left;
    padding-right: 15px;
    text-align: center;
    white-space: nowrap;
    height: 30px;
    color: #4E4E4E;
}

/* styling search form  */

#logo-png {
    width: 272px;
    height: 92px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
}

.form {
    display: block;
}

.center {
    margin: 0 auto;
    width: 1139px;
}

.buttons {
    text-align: center;
}

.buttons input {
    height: 36px;
    line-height: 27px;
    margin: 11px 4px;
    padding: 0 16px;
    min-width: 54px;
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    text-align: center;
}

.search-bar {
    width: 584px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 0px 10px;
    display: block;
    margin: 0 auto;
}