body {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
}
#right-nav {
    margin-right: 20px;
    float: right; 
    width: 250px;
    height: 48px;
}

#left-nav {
    float: left;
}

div ul {
    list-style: none;
}

div ul li { 
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
} 

.grid {
    height: 23px;
    position: relative;
}

.menu_links {
    text-decoration: none;
    color: #262626;
}


a:hover {
    text-decoration: underline;
}

#main-body {
    text-align: center;
    }

#logo {
    display: inline-block;
    height: 220px;
    margin-right: auto;
    margin-left: auto;
}
